* {
	outline: 0;
	padding: 0;
	margin: 0;
    list-style-type: none;
    text-align: justify;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background: #EDEEF0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

header {
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    margin-right: 15px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    flex: 1 1 auto;
    margin-top: 15px;
}

.menu-nav {
    display: flex;
    align-items: center;
}

.menu-nav a {
    margin-right: 25px;
}

.content {
    flex: 1;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px 0;
}

.social-medias img {
    width: 35px;
}

.social-medias a:not(:last-child) {
    margin-right: 20px;
}