/*
    Простое обнуление стилей
*/
* {
	outline: 0;
	padding: 0;
	margin: 0;
    list-style-type: none;
    text-align: justify;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}

/*
    Общие настройки
*/
html, body {
    height: 100%;
    background: #EDEEF0;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 17px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

.simple-link {
	color: #3399FF; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}

.simple-link:hover {
    text-decoration: underline;
}

h2 {
    font-size: 25px;
    font-weight: 600;
}

.block {
    background-color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*
    Header
*/
header {
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 3px 0;
    margin-bottom: 5px;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    margin-right: 15px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-nav {
    display: flex;
    align-items: center;
}

.menu-nav a {
    margin-right: 25px;
}


/*
    main
*/
.main {
    flex: 1 1 auto;
    margin-top: 15px;
}

.main .container {
    display: flex;
}

.sidebar-nav {
    margin-right: 30px;
}

.sidebar-nav__icon {
    width: 25px;
}

.sidebar-nav li {
    padding: 7px 15px 7px 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
}

.sidebar-nav li:hover {
    background-color: #e0e1e2;
}

.sidebar-nav span {
    margin-left: 10px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.content {
    flex: 1;
}

.month-statistics__top {
    display: flex;
    justify-content: space-between;
}

#pie-graph {
    width: 450px;
    min-height: 350px;
}

.month-categories__category-name {
    font-weight: 600;
    padding-right: 15px;
}

.month-total-costs ul li {
    margin-bottom: 5px;
}

.month-total-costs h2 {
    margin-bottom: 10px;
}

.month {
    margin-bottom: 10px;
}

.cost-block {
    margin-bottom: 15px;
    display: flex;
}

.cost-block__left {
    width: 280px;
    border-right: 2px solid #EDEEF0;
    margin-right: 20px;
}

.cost-title {
    font-weight: 600;
}

.action-buttons {
    display: flex;
}

.action-buttons img {
    width: 25px;
    margin-right: 10px;

}

.cost-block__action-buttons img {
    margin-top: 10px;
}

.cost-block__left p {
    margin-bottom: 7px;
}

.category-object {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.category-object__standart-category {
    font-size: 14px;
    color: gray;
}

/*
    Footer
*/
footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px 0;
}

.social-medias img {
    width: 35px;
}

.social-medias a:not(:last-child) {
    margin-right: 20px;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.add-category {
    margin-bottom: 10px;
}


/* FORMS */
.user-form-block {
    max-width: 450px;
    margin: 40px auto;
    padding: 20px;
}

.costs-form-block {
    max-width: 450px;
    margin: 0 auto;
}

.form-block h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-block form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-block input, .form-block select, .form-block textarea, .form-block button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-block input:focus, .form-block select:focus, .form-block textarea:focus, .form-block button:focus {
    border-color: #3399FF;
}

.form-block textarea {
    resize: none;
}

.form-block button {
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
    padding: 10px 20px;
}

.login-form-block .simple-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.login-form-block .simple-link:hover {
    color: #0056b3;
}

.error-message {
    color: red;
    font-weight: lighter;
    margin-bottom: 10px;
}