/*
    Простое обнуление стилей
*/
* {
	outline: 0;
	padding: 0;
	margin: 0;
    list-style-type: none;
    text-align: justify;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}

/*
    Общие настройки
*/
html, body {
    height: 100%;
    background: #EDEEF0;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 17px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

.underline-link, .simple-link {
	color: #3399FF; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}

.simple-link:hover {
    text-decoration: underline;
}

h2 {
    font-size: 25px;
    font-weight: 600;
}

.block {
    background-color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 15px;
}

/*
    Header
*/
header {
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    margin-right: 15px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-nav {
    display: flex;
    align-items: center;
}

.menu-nav a {
    margin-right: 25px;
}


/*
    main
*/
.main {
    flex: 1 1 auto;
    margin-top: 15px;
}

.main .container {
    display: flex;
}

.sidebar-nav {
    margin-right: 30px;
}

.sidebar-nav__icon {
    width: 25px;
}

.sidebar-nav li {
    padding: 7px 15px 7px 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
}

.sidebar-nav li:hover {
    background-color: #e0e1e2;
}

.sidebar-nav span {
    margin-left: 10px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.content {
    flex: 1;
}

.month-statistics__top {
    display: flex;
    justify-content: space-between;
}

#pie-graph {
    width: 450px;
    min-height: 350px;
}

.month-categories__category-name {
    font-weight: 600;
    padding-right: 15px;
}

.month-total-costs ul li {
    margin-bottom: 5px;
}

.month-total-costs h2 {
    margin-bottom: 10px;
}

.month {
    margin-bottom: 10px;
}

.cost {
    margin-bottom: 15px;
    display: flex;
}

.cost__left {
    width: 280px;
    border-right: 2px solid #EDEEF0;
    margin-right: 20px;
}

.cost-title {
    font-weight: 600;
}

/*
    Footer
*/
footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px 0;
}

.social-medias img {
    width: 35px;
}

.social-medias a:not(:last-child) {
    margin-right: 20px;
}