{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'costs/img/title.png' %}"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block meta %}{% endblock %}
    <link rel="stylesheet" href="{% static 'costs/css/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <title>{{ title|default:"SiteName" }}</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <ul class="menu-nav">
                    <li><a href="" class="logo">
                        <img src="{% static 'costs/img/main_logo.png' %}" alt="" width="50px">
                        <h2>Costs</h2>
                    </a></li>
                </ul>
                <div class="login-block">
                    {% if user.is_authenticated %}
                    <p><a href="{% url 'users:logout' %}" class="logout simple-link">Выйти</a></p>
                    {% else %}
                        <p>
                            <a href="{% url 'users:login' %}" class="login simple-link">Войти</a> |
                            <a href="{% url 'users:register' %}" class="login simple-link">Регистрация</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </header>
        <main class="main">
            <div class="container">
                {% if user.is_authenticated %}
                <div class="sidebar-nav">
                    <ul>
                        <a href="{% url 'costs:main' %}">
                            <li>
                                <img src="{% static 'costs/img/icons/statistics.png' %}" alt="" class="sidebar-nav__icon">
                                <span>Статистика</span>
                            </li>
                        </a>
                        <a href="{% url 'costs:history' %}">
                            <li>
                                <img src="{% static 'costs/img/icons/history.png' %}" alt="" class="sidebar-nav__icon">
                                <span>История трат</span>
                            </li>
                        </a>
                        <a href="#">
                            <li>
                                <img src="{% static 'costs/img/icons/add_cost.png' %}" alt="" class="sidebar-nav__icon">
                                <span>Добавить затрату</span>
                            </li>
                        </a>
                        <a href="#">
                            <li>
                                <img src="{% static 'costs/img/icons/add_category.png' %}" alt="" class="sidebar-nav__icon">
                                <span>Добавить категорию</span>
                            </li>
                        </a>
                    </ul>
                </div>
                {% endif %}
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                <div class="social-medias">
                    <a href="https://t.me/fossowan" target="_blank">
                        <img src="{% static 'costs/img/social_media_logos/tg_logo.svg' %}" alt="https://t.me/fossowan">
                    </a>
                    <a href="https://github.com/buzzakka" target="_blank">
                        <img src="{% static 'costs/img/social_media_logos/github_logo.svg' %}" alt="https://github.com/buzzakka">
                    </a>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>