{% extends "base.html" %}

{% block content %}
<div class="form-block change-password-block">
    <h1>Изменить пароль</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for f in form %}
            <p>
                <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}
            </p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        <button type="submit" class="button">Изменить</button>
    </form>
</div>
{% endblock %}