{% extends "base.html" %}

{% block content %}
<div class="form-block password-reset-form-block">
    <h1>Восстановление пароля</h1>
    <form method="post" class="password-reset-form">
        {% csrf_token %}
        {% for f in form %}
            <div>
                <label class="form-label" for="{{ f.id_for_label }}">{{f.label}}</label>{{ f }}
            </div>
        <div class="form-error">
            {{ f.errors }}
        </div>
        {% endfor %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        <button type="submit" class="button">Сбросить пароль</button>
    </form>
</div>
{% endblock %}