{% extends 'base.html' %}

{% block content %}
<div class="add-category">
    <a href="{% url 'costs:add_category' %}" class="simple-link">Добавить катгеорию +</a>
</div>
{% for category in categories %}
    <div class="category-object">
        <p class="category-object__name">{{category}}</p>
        {% if category.is_custom %}
        <a href="{% url 'costs:update_category' category.id %}"
           class="delete-object update-category simple-link">Редактировать категорию</a>
        <a href="{% url 'costs:delete_category' category.id %}"
           class="delete-object delete-category simple-link">Удалить категорию</a>
        {% else %}
            <p class="category-object__standart-category">Стандартная категория</p>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}