{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="month-statistics">
        <div class="month-statistics__top">
            <div class="month-total-costs">
                <h1>Траты в этом месяце:</h1>
                <ul>
                    {% for cost in current_month_costs %}
                        <li>
                            <span class="month-categories__category-name">{{ cost.category__name }}</span>
                            : {{ cost.value__sum }} руб.
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="pie-graph"></div>
        </div>
    </div>
{% endblock %}


{% block meta %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script>
            document.addEventListener('DOMContentLoaded', function () {
                var myChart = Highcharts.chart('pie-graph', {
                    chart: {
                        type: 'pie'
                    },
                    title: {
                        text: 'Процент трат по категориям'
                    },
                    plotOptions: {
                        series: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: [{
                                enabled: true,
                                distance: 20
                            }, {
                                enabled: true,
                                distance: -40,
                                format: '{point.percentage:.1f}%',
                                style: {
                                    fontSize: '1.2em',
                                    textOutline: 'none',
                                    opacity: 0.7
                                },
                                filter: {
                                    operator: '>',
                                    property: 'percentage',
                                    value: 10
                                }
                            }]
                        }
                    },
                    series: [{
                        name: 'Траты',
                        colorByPoint: true,
                        data: {{ pie_chart_data|safe }}
                    }]
                });
            });
        </script>
{% endblock %}